<div class="row text-center">
<div class="panel panel-default">
    <div class="panel-heading">{{vet.name}}</div>
    <div class="panel-body">{{#link-to 'pawfect' adopt.id}}<img src={{vet.image}} alt="space1" class="img-responsive spaceimage well">{{/link-to}} <div style="float:center;">{{vet.services}}</div></div>
    <div class="panel-footer"><button class="btn btn-danger btn-xs" {{action 'delete' vet}}>Delete</button>{{#link-to 'stories' adopt.id}}<button class="btn btn-primary btn-xs">Edit</button>{{/link-to}}</div>
  </div>
</div>
