.mainpanel {
  background-image: url("http://www.northcolonyanimalclinic.com/sites/site-2959/images/Practice%20Images/b3ad1944-7f00-0001-6b12-91aa41afba0a.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
  font-size: 25px;
}
