<div class="container-fluid">
  <div class="row" id="info1">
    <h3>WE ARE A GROUP OF INDIVIDUALS WHO LOVE ANIMALS</h3>


    <h3>WE BELIEVE ALL ANIMALS DESERVE A GOOD HOME</h3>


    <h3>WE ARE ADVOCATES AGAINST ANIMAL BRUTALITY</h3>
  </div>
</div>
