<div class="container-fluid">
  <div class="row">
    <h3 class="info">MYpups</h3>
  </div>
  <div class="row info">
    {{add-profile saveForm="saveForm"}}
  </div>
  <div class="row info">
    <ul>
      {{#each model as |pup|}}
        {{profile-dog pup=pup deletePup="deletePup"}}
        {{update-info pup=pup updateForm1="updateForm1"}}
      {{/each}}
    </ul>

  </div>


</div>
