<div class="container-fluid mainpanel">
  <div class="row">
    <h2 class="welcome intro text-center">
    <strong>KIAMBU-VET SERVICES</strong>....a revolutionary way to get vetenaries around you
  </h2>

    <h4 class="about intro text-center">
      WELCOME TO KIAMBU VETENARY
    </h4>

    <h4 class="about text-center">
      FORGET THE HUSTLE THAT COMES WITH LOOKING TAKING CARE OF YOUR PETS AND FARM ANIMALS
    </h4>

</div>
<hr>
<hr>
<div class="row second-row">
  <div class="col-md-6">
    <p class="about text-center belief">
      We believe in ensuring that<br> all your animals are in healthy condition<br> so animal health is our main priority<br>so help us help you in doing just that!!</p>

  </div>

  </div>

</div>
